.monitor_t {
  border-radius: 50%;
  background: #e0e0e0;
  box-shadow: 10px 10px 20px #7facde, -10px -10px 20px #add3e1;
}

.monitor_f {
  border-radius: 50%;
  background: #e0e0e0;
  box-shadow: 10px 10px 20px #bebebe, -10px -10px 20px #ffffff;
}

@media (min-height: 680px) {
  .notifi {
    bottom: 20rem;
  }
}
